/* ========================================================================== */
/* --- ГЛОБАЛЬНЫЕ ПЕРЕМЕННЫЕ ДЛЯ ЦВЕТОВ И РАЗМЕРОВ --- */
/* ========================================================================== */

:root {
    --main-bg-color: #222222 ; /* Темный фон приложения */
    --card-bg-color: #363636; /* Светло-серый цвет карточек */
    --border-color: #557555; /* Цвет границ элементов */
    --sidebar-bg-color: #222222;
    --sidebar-border-color: #444444;
    --header-bg-color: #3c3c3c; /* Темный фон заголовков */
    --gray-overlay-color: rgba(50, 50, 50, 0.8);/* Светло-серый оверлей */
    --green-overlay-color: rgba(130, 255, 0, 0.25); /* Светло-зеленый оверлей */
    --active-header-bg-color: #4c4c4c; /* Фон для активных заголовков (фильтры, сортировка) */
    --text-color: #e0e0e0; /* Светлый цвет текста */
    --green-text-color: #00ff00; /* Ярко-зеленый цвет текста */
    --red-text-color: #ff0000; /* Красный цвет текста */
    --slider-track-color: greenyellow;
    --dark-fill-color: #556B2F; /* Или любой другой темный цвет по вашему выбору */
	--accent-color: greenyellow;
	--text-color-secondary: greenyellow;
    --slider-track-color: #555555; /* слайдер скорости */
    --black-checkbox-color: black;

    /* Переменные для расчета высоты прокручиваемой области таблицы */
    --main-content-padding-top: 5px;
    --main-content-padding-bottom: 0px;
    --table-header-height-actual: 50px; /* Фактическая высота строки заголовков (th) */
    --scrollbar-width: 17px; /* Предполагаемая ширина полосы прокрутки */
    --desired-bottom-spacing: 1px; /* Отступ от нижнего края таблицы до края окна */

    /* Переменные для сайдбара */
    --sidebar-width: 295px; /* Ширина сайдбара, чтобы уместить "30 символов" */
    --sidebar-padding: 3px;
	
	--desired-bottom-spacing: 2px; /* Установите желаемый отступ снизу */

    /* Глобальные переменные для скроллбаров */
    --scrollbar-color: rgba(170, 255, 0, 0.6) rgba(170, 255, 0, 0.1); /* Цвет ползунка и трека */
}
